@model HeadHunter.Models.Resume

@{
    ViewData["Title"] = "Create";
}

<h1>Редактирование</h1>

<h4>Информаций</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control">
                    <option value="Разработка программного обеспечения">Разработка программного обеспечения</option>
                    <option value="Маркетинг и реклама">Маркетинг и реклама</option>
                    <option value="Финансы и бухгалтерия">Финансы и бухгалтерия</option>
                    <option value="Медицина и здравоохранение">Медицина и здравоохранение</option>
                    <option value="Образование">Образование</option>
                    <option value="Дизайн и искусство">Дизайн и искусство</option>
                    <option value="Качество и тестирование">Качество и тестирование</option>
                    <option value="IT и администрирование систем">IT и администрирование систем</option>
                    <option value="Продажи и обслуживание клиентов">Продажи и обслуживание клиентов</option>
                    <option value="Юриспруденция и право">Юриспруденция и право</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedSalary" class="control-label"></label>
                <input asp-for="ExpectedSalary" class="form-control" />
                <span asp-validation-for="ExpectedSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telegram" class="control-label"></label>
                <input asp-for="Telegram" class="form-control" />
                <span asp-validation-for="Telegram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacebookLink" class="control-label"></label>
                <input asp-for="FacebookLink" class="form-control" />
                <span asp-validation-for="FacebookLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkedinLink" class="control-label"></label>
                <input asp-for="LinkedinLink" class="form-control" />
                <span asp-validation-for="LinkedinLink" class="text-danger"></span>
            </div>

            <div class="education-modules">
                <h5>Образования</h5>
                @foreach(var education in Model.Educations)
                {
                    <div class="education-module">
                        <div class="form-group">
                            <input type="text" name="Educations[@education.Id].Degree" class="form-control" value="@education.Degree" placeholder="Степень обучения" required />
                        </div>
                        <div class="form-group">
                            <input type="text" name="Educations[@education.Id].Institution" class="form-control" value="@education.Institution" placeholder="Учебное заведение" required />
                        </div>
                        <div class="form-group">
                            <input type="text" name="Educations[@education.Id].FieldOfStudy" class="form-control" value="@education.FieldOfStudy" placeholder="Специализация" required />
                        </div>
                        <div class="form-group">
                            <input type="text" name="Educations[@education.Id].StartYear" class="form-control" value="@education.StartYear" placeholder="Год начала" required />
                        </div>
                        <div class="form-group">
                            <input type="text" name="Educations[@education.Id].EndYear" class="form-control" value="@education.EndYear" placeholder="Год окончания" required />
                        </div>
                        <button type="button" class="btn btn-danger remove-module">Удалить модуль</button>
                    </div>
                }
                <button type="button" class="btn btn-primary add-education-module">Добавить модуль образования</button>
            </div>


            <div class="experience-modules" style="margin-top: 20px;">
                <h5>Опыт работы</h5>
                @foreach(var experience in Model.WorkExperiences)
                {
                    <div class="experience-module">
                        <div class="form-group">
                            <input type="text" name="WorkExperiences[@experience.Id].StartYear" class="form-control" value="@experience.StartYear" placeholder="Год начала работы" required />
                        </div>
                        <div class="form-group">
                            <input type="text" name="WorkExperiences[@experience.Id].EndYear" class="form-control" value="@experience.EndYear" placeholder="Год окончания работы" required />
                        </div>
                        <div class="form-group">
                            <input type="text" name="WorkExperiences[@experience.Id].CompanyName" class="form-control" value="@experience.CompanyName" placeholder="Название компании" required />
                        </div>
                        <div class="form-group">
                            <input type="text" name="WorkExperiences[@experience.Id].Position" class="form-control" value="@experience.Position" placeholder="Должность" required />
                        </div>
                        <div class="form-group">
                            <textarea name="WorkExperiences[@experience.Id].Responsibilities" class="form-control" placeholder="Обязанности" required>@experience.Responsibilities</textarea>
                        </div>
                        <button type="button" class="btn btn-danger remove-module">Удалить модуль</button>
                    </div>
                }
                <button type="button" class="btn btn-primary add-experience-module">Добавить модуль опыта работы</button>
            </div>


            <div class="form-group" style="margin-top: 20px;">
                <input type="submit" value="Сохранмть" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function() {
        let educationModuleIndex = $(".education-module").length;
        let experienceModuleIndex = $(".experience-module").length;

        $(".add-education-module").click(function() {
            let educationModuleHtml = `<div class="education-module">
                <div class="form-group">
                    <input type="text" name="Educations[${educationModuleIndex}].Degree" class="form-control" placeholder="Степень обучения" required />
                </div>
                <div class="form-group">
                    <input type="text" name="Educations[${educationModuleIndex}].Institution" class="form-control" placeholder="Учебное заведение" required />
                </div>
                <div class="form-group">
                    <input type="text" name="Educations[${educationModuleIndex}].FieldOfStudy" class="form-control" placeholder="Специализация" required />
                </div>
                <div class="form-group">
                    <input type="text" name="Educations[${educationModuleIndex}].StartYear" class="form-control" placeholder="Год начала" required />
                </div>
                <div class="form-group">
                    <input type="text" name="Educations[${educationModuleIndex}].EndYear" class="form-control" placeholder="Год окончания" required />
                </div>
                <button type="button" class="btn btn-danger remove-module">Удалить модуль</button>
            </div>`;

            $(".education-modules").append(educationModuleHtml);
            console.log(educationModuleIndex);
            educationModuleIndex++;
        });


        $(".add-experience-module").click(function() {
            let experienceModuleHtml = `<div class="experience-module">
                <div class="form-group">
                    <input type="text" name="WorkExperiences[${experienceModuleIndex}].StartYear" class="form-control" placeholder="Год начала работы" required />
                </div>
                <div class="form-group">
                    <input type="text" name="WorkExperiences[${experienceModuleIndex}].EndYear" class="form-control" placeholder="Год окончания работы" required />
                </div>
                <div class="form-group">
                    <input type="text" name="WorkExperiences[${experienceModuleIndex}].CompanyName" class="form-control" placeholder="Название компании" required />
                </div>
                <div class="form-group">
                    <input type="text" name="WorkExperiences[${experienceModuleIndex}].Position" class="form-control" placeholder="Должность" required />
                </div>
                <div class="form-group">
                    <textarea name="WorkExperiences[${experienceModuleIndex}].Responsibilities" class="form-control" placeholder="Обязанности" required></textarea>
                </div>
                <button type="button" class="btn btn-danger remove-module">Удалить модуль</button>
            </div>`;

            $(".experience-modules").append(experienceModuleHtml);
            console.log(experienceModuleIndex);
            experienceModuleIndex++;
        });


        $(document).on("click", ".remove-module", function() {
            $(this).parent().remove();
        });
    });

    </script>
}
