@model X.PagedList.IPagedList<HeadHunter.Models.Resume>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Index";
}

        <div class="col-md-4 mb-3 mx-auto">
            <form asp-action="Index" method="get">
                <div class="form-group">
                    <label for="filterCategory">Фильтрация по категории:</label>
                    <select name="filterCategory" class="form-select mt-2" onchange="this.form.submit()">
                        <option>Фильтрация</option>
                        <option value="Разработка программного обеспечения">Разработка программного обеспечения</option>
                        <option value="Маркетинг и реклама">Маркетинг и реклама</option>
                        <option value="Финансы и бухгалтерия">Финансы и бухгалтерия</option>
                        <option value="Медицина и здравоохранение">Медицина и здравоохранение</option>
                        <option value="Образование">Образование</option>
                        <option value="Дизайн и искусство">Дизайн и искусство</option>
                        <option value="Качество и тестирование">Качество и тестирование</option>
                        <option value="IT и администрирование систем">IT и администрирование систем</option>
                        <option value="Продажи и обслуживание клиентов">Продажи и обслуживание клиентов</option>
                        <option value="Юриспруденция и право">Юриспруденция и право</option>
                    </select>
                </div>
            </form>
        </div>
    </div>


@foreach (var resume in Model)
{
    @if (resume.IsPublished == true)
    {
        <div class="container">
            <a asp-controller="Resumes" asp-action="Details" asp-route-id="@resume.Id" class="text-decoration-none">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 2rem; color: black; font-weight: bold">@resume.Title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Дата публикации: @resume.LastUpdated.ToShortDateString()</h6>
                        <p class="card-text" style="font-size: 1.5rem; color: black;">Ожидаемая аработная плата: @resume.ExpectedSalary</p>
                        <a asp-controller="Users" asp-action="Details" asp-route-id="@resume.User.Id" class="text-decoration-none" style="color: black;">@resume.User.Name</a>
                        <br>
                         <a href="#" data-bs-toggle="modal" data-bs-target="#responseModal" class="btn btn-primary mt-3">Откликнуться</a>
                    </div>
                </div>
            </a>
        </div>
        

        <div class="modal fade" id="responseModal" tabindex="-1" aria-labelledby="responseModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="responseModalLabel">Выберите резюме которое хотите отправить</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form  method="post" asp-controller="Responses" asp-action="Create">
                            <div class="mb-3">
                                <input type="hidden" name="resumeId" value="@resume.Id" />
                                <label for="resumeId" class="form-label">Резюме</label>
                                <select name="id" class="form-select mt-2">
                                    <option value="" selected disabled>Выберите резюме</option>
                                    @foreach (var vacancy in ViewBag.User.Vacancies)
                                    {
                                        <option value="@vacancy.Id">@vacancy.Title</option>
                                    }
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>   
    }
}

<div class="d-flex justify-content-center mt-3">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div></table>
