@model X.PagedList.IPagedList<HeadHunter.Models.Vacancy>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Index";
}

       <div class="row">
        <div class="col-md-4 mb-3">
            <form asp-action="Index" method="get">
                <div class="form-group">
                    <label for="sortState">Сортировать по:</label>
                    <select name="sortState" class="form-select mt-2" onchange="this.form.submit()">
                        <option>Сортировка</option>
                        <option value="@ViewBag.SalarySort">По зарплате</option>
                    </select>
                </div>
            </form>
        </div>

        <div class="col-md-4 mb-3">
            <form asp-action="Index" method="get">
                <div class="form-group">
                    <label for="search">Поиск</label>
                    <input type="text" name="search" class="form-control mt-2" placeholder="Введите текст для поиска" />
                </div>
            </form>
        </div>

        <div class="col-md-4 mb-3">
            <form asp-action="Index" method="get">
                <div class="form-group">
                    <label for="filterCategory">Фильтрация по категории:</label>
                    <select name="filterCategory" class="form-select mt-2" onchange="this.form.submit()">
                        <option>Фильтрация</option>
                        <option value="Разработка программного обеспечения">Разработка программного обеспечения</option>
                        <option value="Маркетинг и реклама">Маркетинг и реклама</option>
                        <option value="Финансы и бухгалтерия">Финансы и бухгалтерия</option>
                        <option value="Медицина и здравоохранение">Медицина и здравоохранение</option>
                        <option value="Образование">Образование</option>
                        <option value="Дизайн и искусство">Дизайн и искусство</option>
                        <option value="Качество и тестирование">Качество и тестирование</option>
                        <option value="IT и администрирование систем">IT и администрирование систем</option>
                        <option value="Продажи и обслуживание клиентов">Продажи и обслуживание клиентов</option>
                        <option value="Юриспруденция и право">Юриспруденция и право</option>
                    </select>
                </div>
            </form>
        </div>
    </div>


@foreach (var vacancy in Model)
{
    <a asp-controller="Vacancies" asp-action="Details" asp-route-id="@vacancy.Id" class="text-decoration-none">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="font-size: 2rem; color: black; font-weight: bold">@vacancy.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Дата публикации: @vacancy.LastUpdated.ToShortDateString()</h6>
                <p class="card-text" style="font-size: 1.5rem; color: black;">Заработная плата: @vacancy.Salary</p>
                <a asp-controller="Users" asp-action="Details" asp-route-id="@vacancy.User.Id" class="text-decoration-none" style="color: black;">@vacancy.User.Name</a>
                <br>
                <a asp-controller="Responses" asp-action="Details" asp-route-id="@vacancy.User.Id" class="btn btn-primary mt-2" style="width: auto;">Откликнуться</a>
            </div>
        </div>
    </a>
}

<div class="d-flex justify-content-center mt-3">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
